@font-face {
  font-family: 'iconfont';  /* project id 1638458 */
  src: url('https://at.alicdn.com/t/font_1638458_x177c6wsyh.eot');
  src: url('https://at.alicdn.com/t/font_1638458_x177c6wsyh.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1638458_x177c6wsyh.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1638458_x177c6wsyh.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1638458_x177c6wsyh.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1638458_x177c6wsyh.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bijibendiannao:before {
  content: "\eabb";
}

.icon-bianjibiaoge:before {
  content: "\eabc";
}

.icon-chizi:before {
  content: "\eabd";
}

.icon-biaoqian:before {
  content: "\eabe";
}

.icon-dayinji:before {
  content: "\eabf";
}

.icon-baocun:before {
  content: "\eac0";
}

.icon-bianji:before {
  content: "\eac1";
}

.icon-daochu:before {
  content: "\eac2";
}

.icon-daoru:before {
  content: "\eac3";
}

.icon-diannao:before {
  content: "\eac4";
}

.icon-fuzhi:before {
  content: "\eac5";
}

.icon-ding:before {
  content: "\eac6";
}

.icon-jianqie:before {
  content: "\eac7";
}

.icon-jianpan:before {
  content: "\eac8";
}

.icon-jiesuo:before {
  content: "\eac9";
}

.icon-shaixuan:before {
  content: "\eaca";
}

.icon-shouji:before {
  content: "\eacb";
}

.icon-suoding:before {
  content: "\eacc";
}

.icon-tupian:before {
  content: "\eacd";
}

.icon-tianjiafujian:before {
  content: "\eace";
}

.icon-wenben:before {
  content: "\eacf";
}

.icon-bangongbao:before {
  content: "\ead0";
}

.icon-shu:before {
  content: "\ead1";
}

.icon-wenjianjia:before {
  content: "\ead2";
}

.icon-touyingyi:before {
  content: "\ead3";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-jiantou_liebiaoshouqi:before {
  content: "\eb04";
}

.icon-jiantou_liebiaoxiangzuo:before {
  content: "\eb05";
}

.icon-jiantou_liebiaozhankai:before {
  content: "\eb06";
}

.icon-shijian:before {
  content: "\eb2a";
}

